# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-port80
dist-ssr
dist.zip
*.tsbuildinfo
*.local
deploy/.env
deploy/.htpasswd
**/rclone.conf
**/backup.htpasswd
*.pem
*.key

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
